header{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(232, 230, 228);
}
.search-input {
    width: 15%;

}

.buttons{
    margin: 1px;
    padding: 1px;
}

p{
    font-size: medium;
    margin: 1px;
}

.blue-box {
    height: 100px;
    width: 33%;
    background-color:aqua;
    padding: 20px;
}

.links1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.email-container{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer{
    text-align: center;
}
